.loader {
  min-height: 7vmin;

  &::after {
    @apply absolute border-black border-2 rounded-full block;
    content: '';
    left: 50%;
    top: 50%;
    width: 5vmin;
    height: 5vmin;
    margin-left: -2.5vmin;
    margin-top: -2.5vmin;
    border-left-color: transparent;
    border-bottom-color: transparent;
    animation: spinner 700ms infinite linear;
  }
}
